
// Footer
footer.custom-footer.page-footer.font-small.bg-light.text-muted.pt-4
    // Footer Links
    .container-fluid.text-center.text-md-left
        // Grid row
        .row
            // Grid column
            .col-md-6.mt-md-0.mt-3
                // Content

            // Grid column
            hr.clearfix.w-100.d-md-none.pb-3
            // Grid column
            .col-md-3.mb-md-0.mb-3
            // Grid column
            // Grid column
            .col-md-3.mb-md-0.mb-3
            // Grid column
        // Grid row
    // Footer Links
    // Copyright
    .footer-copyright.text-center.py-3
        h5.text-uppercase Group 3
        p Software Engineering Course
        a(href='https://www.mun.ca/computerscience/')  Computer Science Department, Memorial University
    // Copyright
// Footer