-if(role=='"student"'){
include ./layouts/_student_header.jade
-}else{ 
include ./layouts/_pm_header.jade
-}
.container
    .row.mt-sm-4.mt-md-5.mb-md-5
        .col-sm-12.border.rounded.p-5.bg-light
            p
            p
            h2 Research
            p
            p
            h2 Awards &amp; Honours
            p
            p Some of our nationally and internationally recognized faculty include:
            ul
                li fellows of the Royal Society of Canada
                li 20 Canada Research Chairs
                li 16 fellows of the Canadian Academy of Engineering
                li 11 fellows of the Canadian Academy of Health Sciences
include ./layouts/_footer.jade