<!DOCTYPE html>
<DIV lang="en">

<head>
  <title>Project Offer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="../../css/custom.css" rel="stylesheet" type="text/css">


  <script src="main-script.js"></script>
</head>

<body class="bg-bodybg">
  <nav class="navbar navbar-expand-md navbar-light bg-light rounded">
    <a class="navbar-brand" href="#">
      <img src="../../images/favicon.png" height="30" class="d-inline-block align-top" alt="munLogo">
      GradRec
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#gradNavbar" aria-controls="gradNavbar"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="gradNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="create-profile.html">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="view-matched-projects.html">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Message</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <button class="btn btn-outline-success my-2 my-sm-0" type="button">Logout</button>
    </div>
  </nav>

  <div class="container">
    <div class="row mt-sm-4 mt-md-5 mb-md-5">
      <div class="col-sm-12 border rounded p-5 bg-light">
        <h3>Accept/Decline Offer</h3>
     
     
        <div class="row">
        </div>
      </br> </br>

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                <label for="to_stud">Project Title:</label>
              </div>
              <div class="col-md-8">
                <label for="to_stud"> Retrieved ProejctTitle</label>
              </div>
            </div>
            <div class="row">
            <div class="form-group">
              
              
              <div class="card" >
                  <div class="card-body">
                    <h5 class="card-title">Offer Letter</h5>
                    
                    <p class="card-text">Thanks for applying to MUN University. <br>
                        The University Offers 2 years full coverage with 16000$ per year
                        The project Supervisor is Prof. Adrian Fiech </p>
                    
                  </div>
                </div>
                
              </div>
            </div>

            <div class="form-group submit">
              <div class="text-right">
              <button type="submit" class="btn btn-danger btn-lg mt-3" id="btn_Send" formaction="/DeclineOfferpro">Decline Offer</button>
              <button type="submit" class="btn btn-primary btn-lg mt-3" formaction="/AcceptOfferpro">Accept Offer</button>              
            </div>
            </div>
          
          </div>
        </div>
     
    </div>

    
 
</div>
  </div>
</body>