doctype html
html(lang='en')
  head
    title Make Offer
    meta(charset='utf-8')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href='../../css/custom.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='jquery-ui/jquery-ui.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='jquery-ui/jquery-ui.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='main-script.js')
  body.bg-bodybg
    nav.navbar.navbar-expand-md.navbar-light.bg-light.rounded
      a.navbar-brand(href='#')
        img.d-inline-block.align-top(src='../../images/favicon.png', alt='munLogo', height='30')
        |         GradRec
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#gradNavbar', aria-controls='gradNavbar', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #gradNavbar.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='manage-projects.html') Manage Projects
          li.nav-item
            a.nav-link(href='#') Message
          li.nav-item
            a.nav-link(href='#') About
        .text-right
          button.btn.btn-outline-success.my-2.my-sm-0(type='button') Logout
    .container
      .row
        .col-sm-12.border.rounded.p-5.bg-light
          h3 Make Offer
      br
      .row
        .col-sm-4.border.rounded.p-5.bg-light
          form(method='post')
            .form-group
              legend Matched students: 
              #accordionEx.accordion(role='tablist', aria-multiselectable='true')
                // Accordion card
                .card
                  // Card header
                  #headingOne.card-header(role='tab')
                    a.list-group-item.list-group-item-action.active(data-toggle='collapse', href='#', data-target='#collapse1')
                      | Projectt 1
                      span.badge.badge-default.badge-pill 14
                      // # of applied student
                      // Card body
                      #collapse1.collapsed(role='tabpanel', aria-labelledby='headingOne', data-parent='#accordionEx')
                        .card-body
                          h5 candidate Students: 
                          ul
                            li
                              a(href='#') Std 1
                            li
                              a(href='#') Std 2
                // *************************************************************
                // Accordion card
                // Accordion card
                .card
                  // Card header
                  #headingTwo.card-header(role='tab')
                    a.list-group-item.list-group-item-action(data-toggle='collapse', href='#', data-target='#collapse2')
                      | Project 2
                      span.badge.badge-default.badge-pill 14
                      // # of applied student
                      // Card body
                      #collapse2.collapsed(role='tabpanel', aria-labelledby='headingOne', data-parent='#accordionEx')
                        .card-body
                          h5 candidate Students: 
                          ul
                            li
                              a(href='#') Std 1
                            li
                              a(href='#') Std 2
                // *************************************************************
                // Accordion card
                // Accordion card
                .card
                  // Card header
                  #headingTwo.card-header(role='tab')
                    a.list-group-item.list-group-item-action(data-toggle='collapse', href='#', data-target='#collapse3')
                      | Project 3
                      span.badge.badge-default.badge-pill 14
                      // # of applied student
                      // Card body
                      #collapse3.collapsed(role='tabpanel', aria-labelledby='headingOne', data-parent='#accordionEx')
                        .card-body
                            ul
                                div
                                    li
                                        a(href='#') Std 1
                                    li
                                        a(href='#') Std 2
                // /.Accordion wrapper
                // Form
        .col-sm-8.border.rounded.p-5.bg-light
          legend Edit Offer
          .row
            .col-md-2
              label(for='to_stud') To:
            label(for='to_stud')  Retrieved StudName
          .form-group
            label(for=' Email1msg') Offer tamplete for project 1:
            // should retreive offers + project name
            textarea.form-control(rows='5')
              | Thanks for applying to Mun University
              | The University Offers 2 years full coverage with 16000$ per year
              | The project Supervisor is Prof. Adrian Fiech
          .form-group.submit
            .text-right
              button.btn.btn-outline-success.btn-lg.mr-5.mt-3(type='submit', formaction='/savepro') Save
              button#btn_Send.btn.btn-primary.btn-lg.mt-3(type='submit', formaction='/createpro') Send
        // ROW
