<!DOCTYPE html>
<html lang="en">

<head>
  <title>Student Profile Submission</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="jquery-ui/jquery-ui.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="jquery-ui/jquery-ui.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="main-script.js"></script>
    <script src="server.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <div class="toplog">
          <div class="logo"><img src="munlogo.png"> </div>
          <div class="gradrec">
            <h3>GradRec System</h3>
          </div>
        </div>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

              </button>
              <a class="navbar-brand" href="#"> </a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Personal Profile</a></li>
              <li><a href="#">Link1</a></li>
              <li><a href="#">Link2</a></li>
              <li><a href="#">Link3</a></li>
            </ul>
          </div>
        </nav>
        <div class="page-header">
          <h3>Student Profile Submittion</h3>
        </div>
        <div class="jumbotron">
          <div class="row">
            <div class="col-md-8">
              <form method="post">
                <div class="section info">
                  <div class="form-group">
                      <legend>Personal info</legend>
                    <label for="stu-f-name">First Name:</label>
                    <input type="text" class="form-control" name="stuFirstName" id="stu-f-name">
                    <label for="stu-l-name">Laster Name:</label>
                    <input type="text" class="form-control" name="stuLastName" id="stu-l-name">
                  </div>
                </div>
                <div class="section education">
                    <legend>Education</legend>
                  <div class="form-group">
                    <label for="usr">Program:</label>
                    <div class="dropdown">
                      <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Choose program
                        <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Master</a></li>
                        <li><a href="#">PhD</a></li>
                      </ul>
                    </div>

                    <label for="usr">Department:</label>
                    <div class="dropdown">
                      <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Choose department
                        <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Engineering</a></li>
                        <li><a href="#">Science</a></li>
                        <li><a href="#">Medical</a></li>
                      </ul>
                    </div>

                    <label for="usr">Major:</label>
                    <div class="dropdown">
                      <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Choose major
                        <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Computer Science</a></li>
                        <li><a href="#">Chemistry</a></li>
                        <li><a href="#">Mechanical</a></li>
                      </ul>
                    </div>

                    <label for="description">Research interest:</label>
                    <textarea class="description form-control" style="min-width: 100%"></textarea>
                  </div>
                </div>
                <div class="section work">
                    <legend>Employment Histroy</legend>
                  <div class="form-group">
                    <label for="stu-f-name">Employer:</label>
                    <input type="text" class="form-control" id="stu-f-name">
                    <label for="stu-f-name">Title:</label>
                    <input type="text" class="form-control" id="stu-f-name">
                    <label for="job-from-1">From:</label>
                    <input class="form-control field-element text" type="text" id="job-from-1">
                    <input type="checkbox"  id="current-1"><label for="current-1">Current</label> <br>
                    <label for="job-from-1">To:</label>
                    <input class="form-control field-element text" type="text" id="job-to-1">
                    <label for="description">Responsibilities:</label>
                    <textarea class="description form-control" style="min-width: 100%"></textarea>
                  </div>

<button  class="btn btn-default">Add</button>
                </div>
                <div class="section comments">
                    <legend>Additional Information</legend>
                  <div class="form-group">
                      <input type="checkbox"  id="current-1"/><label for="current-1">Need funding</label> <br>
                    <label for="description">Comments:</label>
                    <textarea class="description form-control" style="min-width: 100%"></textarea>
                  </div>
                </div>
                <div class="form-group submit">
                  <button type="submit" class="btn btn-default" formaction="/savestud" >Save</button> 
                  <button type="submit" class="btn btn-default" formaction="/submitstud">Submit</button>
                </div>

              </form>
            </div>
            <div class="col-md-4">
             
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
</body>