<!DOCTYPE html>
<html lang="en">

<head>
  <title>Make Offer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="jquery-ui/jquery-ui.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="jquery-ui/jquery-ui.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="main-script.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <div class="toplog">
          <div class="logo"><img src="../images/munlogo.png"> </div>
          <div class="gradrec">
            <h3>GradRec System</h3>
          </div>
        </div>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

              </button>
              <a class="navbar-brand" href="#"> </a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Offer</a></li>
              <li><a href="#">Link1</a></li>
              <li><a href="#">Link2</a></li>
              <li><a href="#">Link3</a></li>
            </ul>
          </div>
        </nav>
        <div class="page-header">
          <h3>Make Offer</h3>
        </div>



        
        <div class="jumbotron">
          <div class="row">
            <div class="col-md-12">
              <form method="post">
                <div class="form-group">
                  <legend>List of Applied Projects: </legend>
                  <div class="row">
                    <!--Accordion wrapper-->
                    <div class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                      <!-- Accordion card -->
                      <div class="card">

                        <!-- Card header -->
                        <div class="card-header" role="tab" id="headingOne">
                          <a data-toggle="collapse" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                            <h5 class="mb-0">
                              Collapsible Group Item #1 <i class="fa fa-angle-down rotate-icon"></i>
                            </h5>
                          </a>
                        </div>

                        <!-- Card body -->
                        <div id="collapse1" class="collapsed" role="tabpanel" aria-labelledby="headingOne"
                          data-parent="#accordionEx">
                          <div class="card-body">
                              <ul >
                                  <li class="active"><a href="#">Offer</a></li>
                                  <li><a href="#">Link1</a></li>
                                  <li><a href="#">Link2</a></li>
                                  <li><a href="#">Link3</a></li>
                                </ul>
                          </div>
                        </div>
                      </div>
                      <!-- Accordion card -->

                      <!-- Accordion card -->
                      <div class="card">

                        <!-- Card header -->
                        <div class="card-header" role="tab" id="headingTwo">
                          <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false"
                            aria-controls="collapseTwo">
                            <h5 class="mb-0">
                              Collapsible Group Item #2 <i class="fa fa-angle-down rotate-icon"></i>
                            </h5>
                          </a>
                        </div>

                        <!-- Card body -->
                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordionEx">
                          <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf
                            moon officia aute,
                            non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                            wolf
                            moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                            shoreditch
                            et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                            proident.
                            Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                            aesthetic
                            synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                          </div>
                        </div>
                      </div>
                      <!-- Accordion card -->

                      <!-- Accordion card -->
                      <div class="card">

                        <!-- Card header -->
                        <div class="card-header" role="tab" id="headingThree">
                          <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false"
                            aria-controls="collapseThree">
                            <h5 class="mb-0">
                              Collapsible Group Item #3 <i class="fa fa-angle-down rotate-icon"></i>
                            </h5>
                          </a>
                        </div>

                        <!-- Card body -->
                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree"
                          data-parent="#accordionEx">
                          <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf
                            moon officia aute,
                            non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                            wolf
                            moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                            shoreditch
                            et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                            proident.
                            Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                            aesthetic
                            synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                          </div>
                        </div>
                      </div>
                      <!-- Accordion card -->
                    </div>
                    <!--/.Accordion wrapper-->
                  </div>





                  <div class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                      <!-- Accordion card -->
                      <div class="card">

                        <!-- Card header -->
                        <div class="card-header" role="tab" id="headingOne">
                            <a class="list-group-item list-group-item-action active" data-toggle="collapse"href="#" data-target="#collapse1">
                                Projectttttttttts 1
                                <span class="badge badge-default badge-pill">14</span>
                                <!--# of applied student-->
                              </a>
                        </div>

                        <!-- Card body -->
                        <div id="collapse1" class="collapsed" role="tabpanel" aria-labelledby="headingOne"
                          data-parent="#accordionEx">
                          <div class="card-body">
                              
                                  <legend>candidate Students: </legend>
                                  <div class="list-group">
                                    <a href="#" class="list-group-item list-group-item-action">std1 1</a>
                                    <a href="#" class="list-group-item list-group-item-action">std 2</a>
                                  
                                </div>
              
                          </div>
                        </div>
                      </div>
                      <!-- Accordion card -->

                      <!-- Accordion card -->
                      <div class="card">

                        <!-- Card header -->
                        <div class="card-header" role="tab" id="headingTwo">
                         
                           
                          
                        </div>

                        <!-- Card body -->
                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordionEx">
                          <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf
                            moon officia aute,
                            non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                            wolf
                            moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                            shoreditch
                            et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                            proident.
                            Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                            aesthetic
                            synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                          </div>
                        </div>
                      </div>
                      <!-- Accordion card -->

                      <!-- Accordion card -->
                      <div class="card">

                        <!-- Card header -->
                        <div class="card-header" role="tab" id="headingThree">
                          <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false"
                            aria-controls="collapseThree">
                            <h5 class="mb-0">
                              Collapsible Group Item #3 <i class="fa fa-angle-down rotate-icon"></i>
                            </h5>
                          </a>
                        </div>

                        <!-- Card body -->
                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree"
                          data-parent="#accordionEx">
                          <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf
                            moon officia aute,
                            non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                            wolf
                            moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                            shoreditch
                            et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                            proident.
                            Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                            aesthetic
                            synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                          </div>
                        </div>
                      </div>
                      <!-- Accordion card -->
                    </div>
                    <!--/.Accordion wrapper-->
                  </div>










                  <ul>
                      <il> <a href="#" id = std1 >stdssssssssss 1</a> </il>
                      <il> <a href="#" id = std2  >std 2</a></il>
                    </ul>








                  <div class="list-group">
                      <!-- loop on studnets  -->
                      <a class="list-group-item list-group-item-action active" data-toggle="collapse"href="#" data-target="#collapseExample1">
                        Project 1
                        <span class="badge badge-default badge-pill">14</span>
                        <!--# of applied student-->
                      </a>
                      <a href="#" class="list-group-item list-group-item-action " data-toggle="collapse" href="#" data-target="#collapseExample2">Project
                        2</a>
                      <a href="#" class="list-group-item list-group-item-action" data-toggle="collapse" href="#" data-target="#collapseExample3">Project
                        3</a>
  
                    </div>
                    <div class="collapse" id="collapseExample1">
                      <legend>candidate Student(Project1): </legend>
                      <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action">Project 1</a>
                      </div>
                    </div>
  
                    <div class="collapse" id="collapseExample2">
                        <legend>Applied Students in Project2: </legend>
                        <div class="list-group">
                          <a href="#" class="list-group-item list-group-item-action">Project 2</a>
                        </div>
                      </div>






                </div>



              </form>
            </div>
           
          </div>
        </div>
      </div>


    </div>
  </div>
</body>