.container{
  margin-top:10px;
}

.nav{
  color:black;
  
}
.navbar{  
  margin-top: 100px;
}

.table{
  
  background-color:white;
    display:block;
  overflow-y:scroll;
}

.navbar-brand {
  padding: 0px;
}
img{
  display: block;
}
.logo{
float: left;
}
.gradrec{
float: left;
}
label{
  margin: 10px;
}
input{
  margin: 10px;
  margin-bottom: 20px;

}

.section{

  border: 1px solid  silver;
  margin: 10px;
  padding:10px;

}

.submit{
  float: right;
}

textarea {  
  height:300px;
  resize: vertical;

}



.check-label {
  
  padding-left: 20px;
  text-indent: -10px;
}
.check-input {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}