<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="../../css/custom.css" rel="stylesheet" type="text/css">

    <title>Create Project</title>
</head>

<body class="bg-bodybg">
    <nav class="navbar navbar-expand-md navbar-light bg-light rounded">
        <a class="navbar-brand" href="#">
            <img src="../../images/favicon.png" height="30" class="d-inline-block align-top" alt="munLogo">
            GradRec
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#gradNavbar" aria-controls="gradNavbar"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="gradNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="manage-projects.html">Manage Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Message</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
            <button class="btn btn-outline-success my-2 my-sm-0" type="button">Log Out</button>
        </div>
    </nav>

    <div class="container">
        <div class="row mt-sm-4 mt-md-5 mb-md-5">
            <div class="col-sm-12 border rounded p-5 bg-light">
                <h3>Create Project</h3>
                <p class="text-muted">To create a research project, please fill out the form below. Required fields are marked with *.</p>

                <form class="needs-validation" novalidate>

                    <div class="form-group mt-4">
                        <h5>Project Information</h5>
                        <hr class="mt-1">
                        <div class="row">
                            <div class="col-sm-6 col-lg-4 mb-3">
                                <label for="title">Project Title *</label>
                                <input class="form-control" type="text" name="title" id="title" placeholder="Project 1"
                                    required>
                                <div class="invalid-feedback">Project title is required.</div>
                            </div>
                            <div class="col-sm-6 col-lg-4 mb-3">
                                <label for="department">Department *</label>
                                <select class="form-control" name="department" id="department" required>
                                    <option value="">Choose...</option>
                                    <option value="business">Business</option>
                                    <option value="computer">Computer Science</option>
                                    <option value="engineering">Engineering</option>
                                    <option value="medical">Medical</option>
                                    <option value="science">Science</option>
                                </select>
                                <div class="invalid-feedback">Please choose a department.</div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-lg-8 mb-3">
                                <label for="participants">
                                    Project Participants
                                    <span class="text-muted">(seperated by comma)</span>
                                </label>
                                <input class="form-control" type="text" name="participants" id="participants" placeholder="Prof. Sophia Jones, Prof. Carl Simpson">
                            </div>
                        </div>
                        <label for="description">Project Description *</label>
                        <textarea class="form-control" name="description" id="description" rows="5" required></textarea>
                    </div>

                    <div class="form-group mt-4">
                        <h5>Requirements</h5>
                        <hr class="mt-1">

                        <div class="form-group mb-4">
                            <h6>Degree</h6>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="phd" value="phd">
                                <label class="form-check-label" for="phd">PhD</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="master" value="master">
                                <label class="form-check-label" for="master">Master</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-8 mb-3">
                                <label for="skills">
                                    Required Skills
                                    <span class="text-muted">(skill keywords are seperated by comma and case insensitive)</span>
                                </label>
                                <input class="form-control" type="text" name="skills" id="skills" placeholder="python, java, node.js, angular, maven, etc.">
                            </div>
                        </div>
                    </div>

                    <div class="form-group mt-4">
                        <h5>Start Date</h5>
                        <hr class="mt-1">
                        <div class="row">
                            <div class="col-xs-9 col-md-7 col-lg-5 mb-3">
                                <label for="startDate">Please choose the start date of the project. *</label>
                                <input class="form-control" type="date" name="startDate" id="startDate" min="2018-11-01" max="2020-12-31" required>
                                <div class="invalid-feedback">Please choose your intended start date.</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mt-4">
                        <h5>Research Funds</h5>
                        <hr class="mt-1">
                        <div class="row">
                            <div class="col-xs-9 col-md-7 col-lg-5 mb-4">
                                <label for="funds">Avaiable funds per student per semaster. *</label>
                                <select class="form-control" name="funds" id="funds" required>
                                    <option value="">Choose...</option>
                                    <option value="0">Not needed</option>
                                    <option value="1">$0 ~ $1,000 per semaster</option>
                                    <option value="2">$1,000 ~ $2,000 per semaster</option>
                                    <option value="3">$2,000 ~ $3,000 per semaster</option>
                                </select>
                                <div class="invalid-feedback">Please choose your intended start date.</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="btn-toolbar">
                        <button class="btn btn-outline-success btn-lg mr-4 mt-3" type="button">Save Project</button>
                        <button class="btn btn-outline-danger btn-lg mr-5 mt-3" type="button">Discard Changes</button>
                        <button class="btn btn-primary btn-lg mt-3" type="submit">Publish Project</button>
                    </div>

                </form>

            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <script src="../../js/validateForm.js"></script>
</body>

</html>