include ../layouts/_student_header.jade
.jumbotron.bg-jumbo
   -if(user.matched.length>0){
    h1.display-4 Congratulations!
    hr.my-4
    p.lead You have #{user.matched.length} matched projects.
    p
   -} else {
     p.lead You dont have any matched projects now
     -}
   
.container
    .row(mx-2='')
       
    -for (var i=0;i<user.matched.length;i++){
    
        .col-sm-6.col-md-4.col-lg-3.mb-4
            .card.bg-light
                .card-header Project #{i+1}
                .card-body
                    p.card-text #{user.matched[i].title}.
                    a.btn.btn-primary(href='/show-project?user=#{user}') View details
    -}
include ../layouts/_footer.jade
// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')