include ../layouts/_student_header.jade
.container
  .row.mt-sm-4.mt-md-5.mb-md-5
    .col-sm-12.border.rounded.p-5.bg-light
      -if(offer){
      h3 Congratulations!
      p.text-muted You have received an offer. Below are the offer details and conditions.
      hr
      h5.mt-4 Project Title: #{offer.title}
      p
      p
      h5.mt-4 Conditions
      P #{offer.content}
      .btn-toolbar.justify-content-center.mt-4
        button.btn.btn-outline-danger.btn-lg.mr-5.mt-4(type='button') Decline Offer
        button.btn.btn-outline-success.btn-lg.mt-4(type='button') Accept Offer
    -}else{
      .alert.alert-info
         strong No offers recieved
    -}
include ../layouts/_footer.jade
// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
script(src='../../js/validateForm.js')